<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>¿ Quién es mas apto ?</title>
    <link rel="stylesheet" href="style.css">
    <link
        href="https://www.guiadelnino.com/var/guiadelnino.com/storage/images/planes-para-ninos/cuentos-infantiles/4-cuentos-para-la-vuelta-al-cole/el-senor-lince-y-el-caso-del-colegio-sin-libros/7965092-1-esl-ES/el-senor-lince-y-el-caso-del-colegio-sin-libros.jpg"
        rel="stylesheet">
</head>

<body>
    <header id="header">
        <ul id="menu_header">
            <li class="menu_items"><a href="#">Institucion educativa</a></li>


        </ul>
    </header>


    <div id="contenido">
        <div id="imagen">
            <a></a><img id="img_google" src="profe.png" alt="google"></a>
        </div>
        <form action="/resultadoVista" method="post">
            <div id="buscador">
                <input class="textbox" type="text" name="dato" id="dato">
              
            </div>

            <div id="botones">
                <button type="submit" class="b_buscador">
                    Buscar
                </button>
            </div>
        </form>


    </div>


    <footer id="footer">
        <ul id="pie_der">
            <li><a href="#">Danna Camilla Claros </a></li>
            <li><a href="#">Jessica Yustres Lozano</a></li>
            <li><a href="#">Universidad de la Amazonia</a></li>
        </ul>
        <ul id="pie_izq">
            <li><a href="#">Gestión del Conocimiento</a></li>
            <li><a href="#">Co-autor: Stiven</a></li>

        </ul>
    </footer>

</body>

<script>
    function llamarVistaParcial() {
        var laURLDeLaVista = 'resultadoVista'; // no se bn si es así, sse supone que aquí iria la ruta
        var dato = document.getElementById("dato").value;
        alert(dato);

        fetch(`teacher/${id}`, {
            method: 'DELETE'
        }).then(result => {
            console.log(result);
            location.reload();
        }).catch(err => {
            console.log(err);
        })
    }
</script>


</html>

{{#each items}}
<li><a href="/items/{{id}}>{{name}}</a></li>
    {{/each}}