<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>¿ Quién es mas apto ?</title>
  <link rel="stylesheet" href="css.css">


  <script>
    $(function () {
      var el = document.createElement('script');
       el.type = 'application/ld+json';
       el.text = JSON.stringify({ "@context": "http://schema.org",  "@type": "Recipe", "name": "My recipe name" });

      document.querySelector('head').appendChild(el);
    })
  </script>

  <link
    href="https://www.guiadelnino.com/var/guiadelnino.com/storage/images/planes-para-ninos/cuentos-infantiles/4-cuentos-para-la-vuelta-al-cole/el-senor-lince-y-el-caso-del-colegio-sin-libros/7965092-1-esl-ES/el-senor-lince-y-el-caso-del-colegio-sin-libros.jpg"
    rel="stylesheet">
</head>

<body>
  <div class="wrapper">

    <div class="cols">

      {{#each result}}
      <div class="col" ontouchstart="this.classList.toggle('hover');" itemtype="Docente">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
            <div class="inner">
              <p></p>
              <span>{{nombre}}</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>{{habilidad}} {{edad}}</p>
            </div>
          </div>
        </div>
      </div>

      {{/each}}


    </div>
  </div>
</body>

<script>

  $('.material-card > .mc-btn-action').click(function () {
    var card = $(this).parent('.material-card');
    var icon = $(this).children('i');
    icon.addClass('fa-spin-fast');

    if (card.hasClass('mc-active')) {
      card.removeClass('mc-active');

      window.setTimeout(function () {
        icon
          .removeClass('fa-arrow-left')
          .removeClass('fa-spin-fast')
          .addClass('fa-bars');

      }, 800);
    } else {
      card.addClass('mc-active');

      window.setTimeout(function () {
        icon
          .removeClass('fa-bars')
          .removeClass('fa-spin-fast')
          .addClass('fa-arrow-left');

      }, 800);
    }
  });

</script>


</html>